* {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
:root {
  height: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

body {
  background: linear-gradient(180deg, #11998e 0%, #38ef7d 100%);
  height: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}
form,
.lista,
.total {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  margin-top: 30px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
form legend {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
form label {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #666;
  font-weight: bold;
}
form input,
.lista h3 input {
  display: block;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
}
form input:hover,
form input:focus {
  border-color: #6648fa;
}
form .colunas {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}
.btn {
  border: 0;
  margin-top: 10px;
  background: #2b00ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background linear 0.2s;
}
.btn:hover {
  background: #5433ff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
ul li:hover {
  background: #f1f1f1;
}
.lista h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lista h3 input {
  width: 200px;
}
